# - makefile -
# (C) 2023 Joerg Jungermann, GPLv2 see LICENSE
# config for ../docker-images/Makefile.Dockerfile.generic

#DOCKER_IMAGES :=
#DOCKER_IMAGES += xiegu-modded
#DOCKER_IMAGES += r1cbu-modded
#DOCKER_IMAGES += k4vz-r1cbu-modded

#WORK_FILES :=
#WORK_FILES += xiegu-modded.sdcard.img
#WORK_FILES += xiegu-modded.update.img
#WORK_FILES += r1cbu-vanilla.sdcard.img
#WORK_FILES += r1cbu-modded.sdcard.img
#WORK_FILES += k4vz-r1cbu-vanilla.sdcard.img
#WORK_FILES += k4vz-r1cbu-modded.sdcard.img
#WORK_FILES += multiboot.sdcard.img
#WORK_FILES += multiboot-vanilla.sdcard.img
#WORK_FILES += multiboot-vanilla.update.img
#WORK_FILES += multiboot-modded.sdcard.img
#WORK_FILES += multiboot-modded.update.img

# this will result in images for 8GB images
IMG_MIN_FREE=6144
# this will result in images for 64GB images
#IMG_MIN_FREE=59512

# this will initially build the buildroot volume and prepare the buildroot environment
#WORK_FILES += .deps/buildroot.built
#buildroot: .deps/buildroot.built .deps/buildroot.volume

# keep all image files, even from intermediate steps no longer needed
#.PRECIOUS: %.img

# Workaround for sources from the web behind a captcha
#FILENAME.zip:  /OUTSIDE/OF/TREE/../RELATIVE/OR/ABSOLUTE/FILE.zip
#X6100-update.zip:  ../x6100-dumps/x6100udimg-230831001.zip
#	cat $< > $@
#
# vim: noet ts=2 sw=2 ft=Makefile
